*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #2D033B;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

a{
    text-decoration: none;
    color: whitesmoke
}
/* .container{
    min-height: 50vh;
} */
.video-player{
    position: relative;
    background-color: black;
    width:85%;
    /* margin-top: 4rem; */
    /* height: 500px; */
    /* max-height: 800px; */
    /* min-height: 50vh; */
    /* transform: translateY(20%); */
    z-index: 1;
    /* overflow: hidden; */
    /* border: 5px solid ; */

    /* margin: auto; */
    box-shadow: 80px 80px 100px rgba(6, 6, 7, 0.5);
    padding: 3px;
    border-radius: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    overflow: hidden;
    margin: 0 auto;
}

.mini-container{
    display: none;
    flex-direction: column;
    position: absolute;
    top:5rem;
    gap: 3px;
}
.cross{
    background-color: #c1c1c1;
    padding: 1px 7px;
    align-self: flex-end;
    margin-right: 7px;
    font-size: 1.2rem;
    border-radius: 4px;
}

.mini-video-player{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.mini-video-player .mini-video{
    width: 90%;
    border: 5px solid black;
    border-radius: 10px;
}

.initial-img{
    width: 100%;
}
video{
    /* overflow: hidden; */
    width: 100%;
    /* height: 700px; */
    /* z-index: -10; */
}


/* button{
    background-color: red;
    color: blue;
} */

/* .back-btn{
    cursor: pointer;
    position: absolute;
    padding: 5px 0;
    width: 6.5rem;
    top:2rem;
    left: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 17px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(69, 27, 27, 0.25);
    border-radius: 15px;
    color: #000000;
} */

.link-btn, .mid-btn , .btm-btn , .more-option-btn{
    width: 100%;
    position: absolute;
    /* bottom:-20%;
    left:22%; */
    /* bottom:15%;
    left:25%; */
    /* height: 100px; */
    /* background-color: red; */
    /* top:50%; */
    left: 0;
    bottom: 9rem;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    /* opacity: 0.9;
    transition: opacity 2s ease-in-out; */
    /* background-color: aliceblue; */
}

.video-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 3rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    background: #6BF6FF;
    box-shadow: 4px 4px 4px rgba(69, 27, 27, 0.25);
    border-radius: 100px;
    color: #000000;
}
.choice-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 3rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    background-color: #c1c1c1;
    border-radius: 15px;
    color: #000000;
    box-shadow: 2px 5px 0.4px #FFFFFF;
}

.mid-btn{
    bottom: 5rem;
}
.more-option-btn{
    bottom: 12rem;
    gap:20px;
}
.juspod-btn{
    display: none;
    width: 14rem;
    height: 5rem;
    font-size: 1em;
    background:#89FF6B;
    border-radius: 20px;
}
.juspod-btn a, .choice-btn a{
    color: #000000;
}
.blink{
    display: flex;
    animation: blink 1s infinite;
}

@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


.video-btn:hover{
    background: #000000;
    border: 1px solid #6BF6FF;
    color: #6BF6FF;
}
.juspod-btn:hover{
    background:#89FF6B;
    border: none;
    color: #000000;
}
.first-btn, .second-btn{
    font-size: 0.8em;
}

.bounce{
    animation: bounce 2s ease 1;   
}

@keyframes bounce{
    0%{
        transform:translateY(0%);
    }
    10%{
        transform:translateY(-12%);
    }
    20%{
        transform:translateY(0%);
    }
    30%{
        transform:translateY(-8%);
    }
    40%{
        transform:translateY(0%);
    }
}

.btm-btn{
    bottom: 1rem;
    flex-direction: row;
    font-size: 0.8rem;
    gap:12px;
}

.ctrl-btn{
    background-color: #c1c1c1;
    box-shadow: 2px 3px 0.4px #FFFFFF;
    border-radius: 9px;
    width: 5rem;
    height: 2rem;
}

.ctrl-btn:hover{
    background: #000000;
    color: #c1c1c1;
    border: none;
}

@media (min-width:992px) {
    .video-player{
        height: 90vh;
        width:30%;
    }
    .initial-img{
        width: 100%;
        height: 100%;
    }
    video{
        width: 100%;
        height: 100%;
    }
}